<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/home.css">
    <script src="../script/home.js"></script>
</head>
<body>
    <header class="header cabecalho">
        <div class="logo">
            <a href="../index.html"><img src="../img/logo.png" alt="Logo da Ingresso.com"></a> <!-- Ajuste o caminho para o seu logo -->
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="../view/login.html" class="login-button">Login</a>
            <a href="../view/cadastro.html" class="register-button">Cadastro</a>
        </div>
    </header>
    <main>
        <div class="container">
            <h1>🌍 Cadastre seu Endereço e Desbrave o Mundo do Cinema! 🎬</h1>
            <p>
                "Do Oiapoque ao Chuí, registre seu endereço e embarque em uma jornada cinematográfica sem fim!
                Prepare-se para explorar os cenários dos seus filmes favoritos, receber novidades e promoções especiais."
            </p>
            <div class="banners">
                <a href="endereco.html"> Cadastre seu Endereço</a>
            </div>
        </div>
        <div class="address-list">
            <h1>Lista de Endereços</h1>
            <div id="enderecos">
                <div class="action_buttons" id="action-buttons">
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Ingresso.com. Todos os direitos reservados. 🎫</p>
            <ul class="footer-links">
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Serviço</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
